---
# {{ansible_managed}}
freeswitch:
  ip: "{{ bbb_public_ip4 }}"
  sip_ip: "127.0.0.1"
  esl_ip: "127.0.0.1"
  esl_password: "{{ bbb_freeswitch_socket_password }}"
mediasoup:
  webrtc:
    listenIps:
      - ip: "{{ bbb_bind_ip4 }}"
        announcedIp: "{{ bbb_public_ip4 }}"
{% if bbb_bind_ip6 %}
      - ip: "{{ bbb_bind_ip6 }}"
        announcedIp: "{{ bbb_public_ip6 }}"
{% endif %}
  plainRtp:
    listenIp:
      ip: "{{ bbb_bind_ip4 }}"
      announcedIp: "{{ bbb_public_ip4 }}"
{% if bbb_config_webrtc_sfu %}
{{ bbb_config_webrtc_sfu | to_nice_yaml }}
{% endif %}
